.settings
.classpath
.project

bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders

# exclude everything
src/server/docroot/*

# exception to the rule
!src/server/docroot/.gitkeep